
.row{
    color:white;
    padding: 20px;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    color:black;
    transition: 0.5s;
    border-width: medium;
    margin-left:0.2em;
    border-color:black;
    background-color: white;
}
.btn:hover {    
    filter: invert(100%);
    transform:scale(1.1);
    transition: 0.5s;
}